MAC_RELEASE_APP_NAME=Usager
MAC_RELEASE_REPO=leandroriviello/Usager
MAC_RELEASE_BUNDLE_ID=com.leandroriviello.usager
MAC_RELEASE_VERSION_FILE=version.env
MAC_RELEASE_APPCAST=appcast.xml
MAC_RELEASE_FEED_URL=https://raw.githubusercontent.com/leandroriviello/Usager/main/appcast.xml
MAC_RELEASE_DOWNLOAD_URL_PREFIX=https://github.com/leandroriviello/Usager/releases/download/v${MARKETING_VERSION}/

# Add signing/notarization values only in a local .mac-release.env file.
